* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.border {
  border: 4px solid black;
  border-radius: 12px;
  width: 90%;
  height: 90px;
  margin: 30px 0 0 60px;
}
.border .first {
  width: 70px;
  height: 60px;
  background-color: yellow;
  position: relative;
  top: 10px;
  left: 10px;
  display: inline-block;
  margin-right: 130px;
}
.border .second {
  width: 800px;
  height: 60px;
  background-color: yellow;
  position: relative;
  top: 1px;
  left: 10px;
  display: inline-block;
  margin-right: 150px;
}
.border .second .second-first {
  width: 25%;
  height: 50px;
  background-color: rgb(16, 161, 222);
  position: relative;
  left: 35px;
  top: 9px;
  display: inline-block;
  margin-left: 15px;
}
.border .second .second-first .inside-first {
  width: 50px;
  height: 40px;
  background-color: red;
  position: absolute;
  right: 0;
}

.border .second .second-second {
  width: 25%;
  height: 45px;
  background-color: rgb(16, 161, 222);
  position: relative;
  left: 35px;
  top: 9px;
  display: inline-block;
  margin-left: 100px;
}
.border .second .second-third {
  width: 12%;
  height: 45px;
  background-color: rgb(16, 161, 222);
  position: relative;
  left: 35px;
  top: 9px;
  display: inline-block;
  margin-left: 120px;
}
.border .third {
  width: 100px;
  height: 60px;
  background-color: yellow;
  position: relative;
  top: 10px;
  left: 10px;
  display: inline-block;
}
.border .third .third-all {
  border: 4px solid rgb(7, 163, 7);
  width: 60%;
  height: 70%;
  position: relative;
  top: 10px;
  left: 20px;
}
